<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Members Only | New Message</title>
</head>
<body>
    <h1>New Message</h1>
    <form action="/new" method="POST">
        <label for="message">Message</label>
        <input type="text" name="message" id="message">
        <button type="submit">Submit</button>
    </form>
</body>