<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Members Only | Secret Code</title>
</head>
<body>
    <% if (locals.valid === "false") { %>
        <p>Incorrect code</p>
    <% } %>
    <form action="/secret-code" method="POST">
        <label id="secret-code-label" for="code">What is the secret code?</label>
        <input type="text" name="code" id="code">
        <button type="submit">Submit</button>
    </form>
</body>